<div class="bars">
  <% bars.each do |bar| %>
    <div>
      <form action='<%= delete_bar_path(bar.id) %>' method="post" id="delete-bar-<%=bar.id%>">
        <%= "#{bar.id} - #{bar.name} | #{bar.current} of #{bar.total}" %>
        <button type="submit" class="btn btn-danger btn-sm">X</button>
      </form>
      <div class="progress">
       <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= bar.percent %>%;" aria-valuenow="<%= bar.current %>" aria-valuemin="0" aria-valuemax="<%= bar.total %>">
          <%= bar.percent %>%
        </div>
      </div>
      <% if bar.bars %>
        <%= partial :bars, locals: { bars: bar.bars } %>
      <% end %>
    </div>
  <% end %>
</div>
